<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>Desilearn</title>
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">
</head>
<body>
	<%- include('blocks/header'); %>
	<div class="course-info block">
		<div class="container">
			<div class="section-header">
				<%=title%>
			</div>
			<div class="section-span type">
				<%=type%>
			</div>
			<div class="section-span data">
				(<%=startDate%> - <%=finishDate%>)
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-5 photo-course">
  					<div class="img-block">
  						<div class="description">
  							<h1>Що таке <%=title%></h1>
  							<p>UX (англ. User experience) - дослівно означає «досвід користувача». У більш широкому сенсі це поняття включає в себе весь досвід, який отримує користувач при взаємодії з вашим сайтом або додатком.</p>
  							<p>UX-дизайн відповідає за функціональність, адаптивність продукту і те, які емоції він викликає у користувачів. Чим простіше ваш інтерфейс, тим простіше користувачеві отримати результат і зробити цільову дію.</p>
  						</div>
  					</div>
  				</div>

  				<div class="col-lg-4 col-md-12">
  					<div class="wrap-vac">
  						<div class="vacancines">
  							<h2>Залишилось місць</h2>
  							<span class="vavancines-num"><%=vacancines%></span>
  							<button id = "reserved" type="submit">Забронювати</button>
  						</div>
  					</div>
  				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="containe">
						<h1>Занять:</h1>
						<span id="titleName"><%=lesNum%></span>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="containe">
						<h1>Школа:</h1>
						<span id="titleSchool"><%=school%></span>						
					</div>
				</div>
				<div class="col-lg-3">
					<div class="containe">
						<h1>Викладає</h1>
						<div class="photo-cont"><img id="teacherPhoto" src="img/teacher4.png" alt=""></div>
						<span id="teacherName"><%=teacher%></span>						
					</div>
				</div>
				<div class="col-lg-3">
					<div class="containe">
						<h1>Ціна</h1>
						<span id="price"><%=price%>$</span>						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	let id = "<%=idCourse%>";
	let title = '<%=title%>';
	$('#userId')[0].value = localStorage.id;
	document.querySelector("#headUser").textContent = localStorage.log;
	document.querySelector("#reserved").addEventListener("click", function(e){
		let xhr = new XMLHttpRequest();
		xhr.open("GET", `/Course?` + "course=" + id + "&&user=" + localStorage.id);
		xhr.send();

		//regArr.push(`${id},${localStorage.id}`);
		//console.log(regArr);	
		location.reload();
	})


</script>
</body>
</html>